* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 1100px;
    margin: auto;
}

.header {
    height: 600px;
}

.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
}

.navigation-bar__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    list-style-type: none;
}

.navigation-bar__list-item {
    padding: 10px;
    color: whitesmoke;
}
.navigation-bar__list-item:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.banner {
    height: 100%;
    width: auto;
    background-image: url('../img/img_la.jpg');
    background-size: cover;
}
/* main content */
.content__about {
    margin-top: 20px;
}

.content__about-name {
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}

.content__about-description {
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 0.9rem;
}
/* end about */

.content__members {
    height: 400px;
    margin-top: 20px;
}
.content__members-header {
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.content__members-container {
    display: flex;
    justify-content: space-around;
}

.content__members-img {
    height: 80%;
}