* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 1100px;
    margin: auto;
}

.header {
    height: 600px;
}

.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
}

.navigation-bar__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    list-style-type: none;
}

.navigation-bar__list-item {
    padding: 10px;
    color: whitesmoke;
}
.navigation-bar__list-item:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.banner {
    height: 100%;
    width: auto;
    background-image: url('../img/img_la.jpg');
    background-size: cover;
}
/* main content */
.content__about {
    margin-top: 20px;
}

.content__about-name {
    font-weight: 500;
    text-align: center;
    font-size: 26px;
    padding: 20px 0;
}

.content__about-description {
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 0.9rem;
}
/* end about */

.content__members {
    height: 400px;
    margin-top: 20px;
}
.content__members-header {
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    font-size: 26px;
}
.content__members-container {
    display: flex;
    justify-content: space-around;
}

.member__img {
    height: 80%;
}

.member__img img {
    height: 100%;
}

.member__name {
    text-align: center;
    padding: 10px;
}
/* end member */

.content__contact-infor {
    height: 500px;
    margin-top: 20px;
}

.content__contact-infor .contact-infor__header {
    margin: 20px 0;
    text-align: center;
    font-size: 26px;
}

.content__contact-infor .contact-infor__address {
    margin: 20px 0;
    text-align: center;
    font-style: normal;
}

.content__contact-infor .contact-infor__form-title {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
}

input:focus {
    border: 1px solid black;
}

button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 80px;
    height: 36px;

    background-color: rgb(35, 35, 35);
}